<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Список метрик</title>
</head>
<body>
  <h1>Метрики</h1>
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {{range .}}
    <tr>
      <td>{{.ID}}</td>
      <td>
        {{if eq .MType "gauge"}}
          {{if .Value}}{{.Value}}{{else}}N/A{{end}}
        {{else if eq .MType "counter"}}
          {{if .Delta}}{{.Delta}}{{else}}N/A{{end}}
        {{else}}
          N/A
        {{end}}
      </td>
      <td>{{.MType}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
</body>
</html>
